<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <applicationSettings>
    <add key="applicationUrl" value="https://create-react-app.dev/" />
  </applicationSettings>
  <bindings>
    <binding protocol="http" bindingInformation=":80" />
    <binding protocol="https" bindingInformation=":443" />
  </bindings>
</configuration>